---
import Container from "../components/core/Container.astro";
import Layout from "../layouts/Page.astro";
import { Image } from "astro:assets";
---

<Layout>
	<Container>
		<article class="container">
			<h1 id="title">Ralph Modejski</h1>
			<figure class="img-caption">
				<Image
					src={"/tribute-to-Ralph-Modejski/images/Ralph.modrzejewski.png"}
					alt={"Rudolf Modrzejewski w 1931 roku"}
					width={390}
					height={495}
					loading="eager"
					format="webp"
					class=""
				/>

				<figcaption>
					Civil engineer <br /> Ralph Modjeski (Rudolf Modrzejewski) <br
					/> in 1931.
				</figcaption>
			</figure>
		</article>
	</Container>
</Layout>

<style lang="scss">
	@use "../styles/utils" as u;
	@use "../styles/mixin" as r;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1em;
		width: 100%;
	}

	figcaption {
		padding-top: 2em;
		text-align: center;
	}

	.tribute-image {
		width: 100%;
		max-width: 300px;
		height: auto;
		object-fit: cover;
		object-position: bottom;
	}

	.container {
		display: flex;
		flex-direction: column;
	}
</style>
