---

---

<span class="tribute-logo">Tribute</span>

<style lang="scss">
	@use "../styles/utils" as u;
    @use "../styles/mixin" as r;

    .tribute-logo {
        width: fit-content;
        margin: 0.5em;
        font-family: var(--theme-font-family-serif);
        font-size: var( --f-l);
        color: inherit;
    }
    .tribute-logo:hover {
        text-decoration: underline;
        cursor: pointer;
    }
</style>
